html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* 确保html和body的高度为100%，填满整个视口 */
}

body {
    background-image: url('../images/bj.jpg');
    /* 背景图 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 使背景图片固定 */
    position: relative;
    /* 必须设置relative，以便 ::after 伪元素能够相对定位 */
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    /* 增加透明度 */
    /* background: rgba(255, 255, 255, 0.1); */
    /* 适配透明度 */
    backdrop-filter: blur(1px);
    /* 适度模糊 */
    pointer-events: none;
    /* 确保遮罩层不会影响页面交互 */
    z-index: -1;
    /* 确保遮罩层位于页面内容下方 */
    /* filter: blur(3px); */
    /* 给整个伪元素加上模糊 */
}