body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bj.jpg');
    /* background-color: aqua; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 使背景图片固定 */
    min-height: 100vh;
    position: relative;
    /* 需要定位父元素 */
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    /* 半透明黑色层 */
    pointer-events: none;
    /* 确保遮罩层不会影响页面交互 */
}